<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page1</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div>목록!!</div>
제목
<input type="text" id="tbpost_title" />
<div id="div_tbpost_list"></div>


<button onclick="list_tbpost()">글 불러오기</button>

<script>
    function list_tbpost(){
        $.ajax({
            url: "/api/tbpost/list",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                title : $("#tbpost_title").val()
            },
            cache: false,
            success: (data, status, xhr)=>{
                alert(JSON.stringify(data));

                $("#div_tbpost_list").html("");

                let alist = data.list;
                for(each of alist){
                    //alert(JSON.stringify(each));
                    $("#div_tbpost_list").append(
                        "<div><a href='/tbpost/detail/"+each.id+"'>"+each.id + "//"+each.title + "//"+each.content + "//"+"</a></div>"
                    );
                }
            },
            error: (data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(data));
            },
        });
    }
</script>

</body>
</html>