<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page1</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

제목
<input type="text" id="tbboard_title" />
내용
<input type="text" id="tbboard_content" />
작성자
<input type="text" id="tbboard_writer" />
<button onclick="create_tbboard()">글 작성</button>

<script>

    let div_test = $("#div_test").html();
    //alert(div_test);

    function create_test(obj){
        let object_html = $(obj).parent().attr("id");
        alert(object_html);
    }




    function create_tbboard(){
        $.ajax({
            url: "/api/tbboard/create",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                title : $("#tbboard_title").val()
                ,content : $("#tbboard_content").val()
                ,writer : $("#tbboard_writer").val()
            },
            cache: false,
            success: (data, status, xhr)=>{
                //alert("success!!");
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(data));
            },
        });
    }
</script>

</body>
</html>